* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 230);
}

a {
    text-decoration: none;
}

.topo{
    background-color: #ebc999;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
}

.topo h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 325px;
    font-size: 4em;
    color: #4d3227; /*#cd7700*/
    font-weight: bold;
    
}

.header-com-linha {
    position: relative;
    
}

.header-com-linha::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px; /* Espessura da linha */
    background-color: #4d3227; /* Cor da linha */
    position: absolute;
    bottom: 0;
    left: 0;
}
.naoSelecionavel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.texto-principal{
    margin-top: 10%;
}

.texto-principal h1{
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5%;
}

.menu-img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}

.menu-text {
    margin-top: 15px;
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.row .col-6, .row .col-sm-4, .row .col-md-3, .row .col-lg-2 {
    margin-bottom: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.secao-pratos-especiais {
    margin-top: 5%;
}

.titulo-especiais h2, .titulo-especiais h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.img-especiais {
    width: 500px;
    height: 520px;
    object-fit: cover;
    border-radius: 30%;
}

.textos-expeciais p{
    font-size: 1.2em;
}


/* --FOOTER-- */

.footer {
    background-color: #4d3227;
    height: 30vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container-footer {
    text-align: center;
    padding: 25px;
}

.container-footer ul{
    list-style: none;
}

.link {
    padding: 12px;
    text-decoration: none;
    color: #ebc999;
    font-size: 1.2em;
    position: relative;
    transition: color 0.4s ease;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fceedc;
    transition: width 0.4s ease;
}

.link:hover::after {
    width: 100%;
}

.list-icons {
    margin-top: 20px;
}

.link-icons {
    padding: 15px;
    font-size: 2em;
    color: #ebc999;
    position: relative;
}

.link-icons:hover {
    color:#fceedc;
}

.copyright {
   font-size: 1em;
   color: #ebc999;
   margin-top: 10px;
   word-wrap: break-word;
   max-width: 100%;
}

#cardapio {
    margin-top: 150px;
}